*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background-image: url("../imgs/orqa\ fon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav h1{
    text-align: center;
    padding: 10px 0px;
    font-size: 40px;
    border: 10px groove green;
    border-radius: 20px;
    color: red;
    background-color: lime;
    margin-bottom: 20px;
    text-shadow: 0px 0px 20px blue;
    cursor: pointer;
    transition: all .3s ease;
}
nav h1:hover{
    color: blue;
}
nav p{
    color: blue;
}
.about{
    border: 4px dashed red;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px 10px;
    background-color: yellow;
}

.about h2{
    text-shadow: 0px 0px 20px yellow;
    font-size: 32px;
    margin-bottom: 20px;
    color: red;
}

.about p{
    font-size: 20px;
    text-align: justify;
    font-weight: 500;
}

.hero .container{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 50px 0px;
}

.rasm{
    width: 200px;
}

.rasm img{
    width: 100%;
    transition: all .3s ease;
    cursor: pointer;
}

.rasm img:hover{
    transform: scale(1.1);
}

.information h2{
    text-align: center;
    padding: 10px 0px;
    font-size: 40px;
    border: 10px groove red;
    border-radius: 20px;
    color: red;
    background-color: lime;
    margin-bottom: 20px;
    text-shadow: 0px 0px 20px blue;
    cursor: pointer;
    transition: all .3s ease;
}
.information h2:hover{
   color: blue;
}
table{
    border: 15px groove red;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(rgba(230, 64, 64, 0.908), rgba(170, 214, 66, 0.858));
}
thead th{
    border: 6px groove green ;
    font-size: 25px;
    padding: 3px;
    font-weight: 600;
    color: white;
    text-shadow: 0px 0px 10px yellow;
}
tbody td{
    font-weight: 600;
    font-size: 20px;
    border: 6px groove blue;
    color: white;
}
td button{
    padding: 7px 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px gray;
    background-color: darkgray;
    transition: all .3s ease;
}
td button:hover{
    transform: scale(1.1);
}
td button a{
    text-decoration: none;
    color: blue;
    font-size: 15px;
}



.asarlar .container{
    color: blue;
    border: 10px groove lime;
    background: linear-gradient(90deg, rgb(167, 167, 124), yellow, rgb(124, 128, 0));
    position: relative;
    padding: 10px 20px;
    text-align: justify;
}
.asarlar h1{
    font-size: 35px;
    text-align: center;
    padding: 20px 0px;
}
.asarlar .solid{
    border: 2px solid red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 20px;
    right: 30px;
    text-align: center;
    
}
.asarlar h3{
    text-align: center;
    padding-top: 8px;
}
.asarlar h3 a{
   font-size: 26px;
}

.asarlar p{
    font-size: 20px;
    line-height: 30px;
}